/*html*/
html {
  	box-sizing: border-box;
  	height: auto;
	margin: 0 auto;
	padding: 0 10%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*clearings*/
.clear {
	clear: both;
}
/*Header*/
header {
	position: relative;
	height: 500px;
	padding-top: 20px;
}
header h1,
.tagline {
	clear: left;
	margin: 0;
}
nav {
	width: 100%;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	position: absolute;
	bottom: 25px;
	text-align: center;
	padding: 10px 0px;
}
nav ul {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding-left: 0;		
}
nav li {
	float: left;
	padding: 0px 80px;
}
nav li a {
	clear: both;
	text-decoration: none;
	color: #000;
}
a:link,
a:visited {
	color: #000;
}
.center_container {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 0px;
}
.circle_image {
   	min-width: 250px;
   	min-height: 250px;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	border: 5px solid #fff;
}
.feature1 { 
	background-image: url("images/feature1.jpg");
 }
.feature2 { 
	background-image: url("images/feature2.jpg");
 }
 .feature3 { 
	background-image: url("images/feature3.jpg");
 }
/*Font*/
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: lighter;
	margin: 0;
	color: #000;
}
h1 {
	font-family: 'Marck Script', cursive;
	font-size: 4em;
	font-weight: 300;
	text-align: right;
	line-height: .8;
}
.tagline {
	width: 50%;
	float: right;
	padding-left: 128px;
	line-height: 1;
}
h3,
h4 {
	font-family: 'Rajdhani', sans-serif;
}
h3 {
	font-size: 160%;
	font-weight: 200;
	letter-spacing: .5;
	margin: 0;
}
h4 {
	font-size: 120%;
	font-weight: 800;
	margin: 0;
	color: #bbb;
}

/*Body*/
.main_content {
	width: 70%;
	float: right;
}
.blog_post {
	border: 1px solid #000;
	margin-bottom: 40px;
	padding: 20px 20px 10px;
}
.blog_post h3 {
	margin-bottom: 10px;
	line-height: 1;
}
.blog_post .date {
	margin-bottom: 20px;
	font-size: 70%;
}
.blog_post p {
	margin-bottom: 10px;
	line-height: 1;
}
.blog_post button {
	border-radius: 0px;
	border: 1px solid #000;
	color: #fff;
	background-color: #000;
	margin-top: 5px;
}

img {
	max-width: 100%;
	max-height: 100%;
}
.side_content {
	width: 30%;
	float: left;
	padding: 0px 80px 0px 0px;
}
.side_content_section {
	border-bottom: 1px solid #000;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.side_content h4 {
	padding-bottom: 10px;
}
.side_content p {
	font-size: 80%;
	line-height: 1;	
}
.side_content .fa {
	margin: 0;
}

/*Footer*/
footer {
	height: auto;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 10px 0px;
	overflow: auto;

}
.footer_content {
	margin: 0;
	float: left;
	width: 50%;
}
footer p {
	font-size: 60%;
	font-weight: 200;
	margin: 0;
}
.float_left {
	float: left;
}
.social_media p,
footer .fa {
	padding-right: 5px;
	font-size: 100%;
}
.copyright {
	text-align: right;
}